* {
    margin: 0;
    border: 1px solid black;
    box-sizing: border-box;
}
header, footer {
    height: 15vh;
}
section {
    height: 30vh;
}
section + section {
    display: grid;
    grid-template-columns: 1fr 1.3333fr;
    height: 40vh;
}