/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}
body {
  margin: 1rem;
}

.drink {
  display: flex;
}

.drink div {
  width: 50%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/