/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  padding: 5rem;
  background: lightblue;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
