* {
    box-sizing: border-box;
    margin: 0;
    border: 1px solid black;
}

header, footer {
    height: 20vh;
    clear: both;
}

section {
    height: 60vh;
    float: left;
    width: 33.3333%;
}

@media screen and (min-width: 1000px) {
    header {
        background: blue;
    }
    footer {
        background: red;
    }
}


@media screen and (max-width: 700px) {
    section {
        height: 20vh;
        width: 100%;
        background: green;
    }
}